.job-card-date-display {
  background-color: var(--lighterGrey);
  border-radius: 5px;
  color: var(--greyText);
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  align-items: center;
}

.job-card-date-display.is-late {
  background-color: #ffd1d1;
}
.job-card-date-display.is-today {
  /* orangeTheme with 0.2 opacity */
  background: rgba(252, 121, 72, 0.2);
  border: 1px solid var(--orangeTheme);
  color: var(--orangeTheme);
}

.job-card-date-display > .date-pill {
  margin-right: 10px;
  border-radius: 50%;
  height: 9px;
  width: 9px;
}

.job-card-date-display > .date-pill-start {
  background-color: var(--greenTheme);
}
.job-card-date-display > .date-pill-deadline {
  background-color: #f25c5c;
}
.job-card-date-display.is-today > .date-pill-deadline {
  background-color: var(--orangeTheme);
}
