.jobsList-section {
  overflow-y: auto;
  overflow-x: hidden;
  /* height : 500px; */
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}
.jobsList-section::-webkit-scrollbar {
  display: none;
}
.jobsList-section h3 {
  color: var(--orangeTheme);
  font-size: 14px;
  margin-bottom: 20px;
}
