.project-card {
  border-radius: 15px;
  background-color: white;
  font-size: 14px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--blueTheme);
}
.project-card-selected {
  color: var(--orangeTheme);
}

.project-card p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 30px);
}

.project-card img {
  height: 40px;
  border-radius: 15px 0 0 15px;
  width: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.project-card .more-button {
  border: none;
  background-color: transparent;
  color: var(--blueTheme);
}
