.job-type {
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  /* background-color: white; */
}
.job-type.big {
  font-size: 16px;
}

.job-type.typeColor-selected-learn {
  background: var(--learnGradient);
  box-shadow: var(--learnShadow);
  color: white;
}
.job-type.typeColor-selected-check {
  background: var(--checkGradient);
  box-shadow: var(--checkShadow);
  color: white;
}
.job-type.typeColor-selected-build {
  background: var(--buildGradient);
  box-shadow: var(--buildShadow);
  color: white;
}
.job-type.typeColor-selected-todo {
  background: var(--todoGradient);
  box-shadow: var(--todoShadow);
  color: white;
}

.job-type.typeColor-unselected-learn {
  color: #ff93bc;
  border: 1px solid #ff93bc;
}
.job-type.typeColor-unselected-check {
  color: #c7a897;
  border: 1px solid #c7a897;
}
.job-type.typeColor-unselected-build {
  color: #66cfee;
  border: 1px solid #66cfee;
}
.job-type.typeColor-unselected-todo {
  color: #cbcbdb;
  border: 1px solid #cbcbdb;
}
