.app {
  margin: auto;
  height: 100vh;
  padding: 0 40px 0 40px;
}

.viewport {
  margin-right: 0;
  position: relative;
  height: calc(100vh);
  padding-top: 40px;
  padding-left: 90px;
}

.viewport-left {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}

.viewport-right {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.viewport-right-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
}
.viewport-right-header h1 {
  font-size: 30px;
  color: var(--blueTheme);
  text-transform: uppercase;
  margin-bottom: 0;
}

.time-selector-section a {
  font-size: 20px;
  color: var(--blueTheme);
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: normal;
  padding: 5px 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.11),
    -2px -2px 4px rgba(255, 255, 255, 0.51);
  border-radius: 5px;
}
.time-selector-section a:hover {
  text-decoration: none;
}
.time-selector-section {
  margin-top: 10px;
  margin-bottom: 25px;
}

.viewport-right-header #add-job-button {
  margin-right: 10px;
  background: var(--orangeGradient);
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 16px;
}

@media screen and (max-width: 1800px) {
  .viewport-right {
    padding-right: 10px;
  }
  .viewport-left {
    padding-right: 10px;
  }
}
@media screen and (max-width: 1300px) {
  .viewport-right {
    padding-right: 10px;
  }
  .viewport-left {
    padding-right: 0px;
  }
}
