.app {
  max-width: 90%;
  margin: auto;
  height: 100vh;
  /* z-index: -5; */
}

.viewport {
  margin-right: 0;
  position: relative;
  height: calc(100vh);
  padding-top: 60px;
  /* z-index: 0; */
}

.viewport-left {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  /* z-index: -1; */
}

.viewport-right {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  padding-right: 150px;
  /* z-index: -1; */
}
.viewport-right h1 {
  font-size: 30px;
  color: var(--blueTheme);
  text-transform: uppercase;
  margin-bottom: -7px;
}
.viewport-right > h2 > a {
  font-size: 20px;
  color: var(--blueTheme);
  text-transform: uppercase;
  margin-right: 10px;
}
