/* @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700&display=swap"); */

html {
  padding: 0;
}

body {
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Red Hat Display", sans-serif;
  /* font-family: "Averia Sans Libre", cursive; */
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* background: linear-gradient(to bottom right, #F9E3EC 0%, #E9DEF4 50%, #D5D8FF 100%); */
  /* background: linear-gradient(to bottom right, #F5D4E2 0%, #BFC4FF 100%); */
  /* background: linear-gradient(180deg, #476F94 0%, #3B82C4 100%); */
  background-color: var(--backgroundColor);
  /* background: url("./res/circles-light.png"); */
  overflow: hidden;
}

.fullHeight {
  height: 100%;
}

:root {
  --learnShadow: 0px 4px 15px #ff93bc;
  --learnGradient: linear-gradient(to right top, #f16d9f, #ff93bc);
  --checkShadow: 0px 4px 15px #c7a897;
  --checkGradient: linear-gradient(to right top, #c58c6d, #c7a897);
  --buildShadow: 0px 4px 15px #66cfee;
  --buildGradient: linear-gradient(to right top, #40b5d7, #66cfee);
  --todoShadow: 0px 4px 15px #cbcbdb;
  --todoGradient: linear-gradient(to right top, #b4b4c0, #cbcbdb);
  --thinkGradient: linear-gradient(63.85deg, #c240d7 0%, #ee66e0 100%);
  --thinkShadow: 0px 4px 15px #ee66e0;
  --blueTheme: #2d466a;
  --orangeGradient: linear-gradient(to right top, #fd7746, #ff956d);
  --orangeTheme: #fc7948;
  --purpleColor: #ee66e0;
  --backgroundColor: #f0f1f5;
  --redGradient: linear-gradient(to right top, #ee7070, #f0a0a0);
  --redShadow: 0px 4px 15px #f0a0a0;
  --greenGradient: linear-gradient(to right top, #3bdd68, #a1ebb6);
  --greenShadow: 0px 4px 15px #a1ebb6;
  --greyText: #5e5e5e;
  --lighterGrey: #efefef;
  --lightGrey: #c5c5c5;
  --middleGrey: #c4c4c4;
  --greenTheme: #71d78d;
  --redTheme: #f25c5c;
  --blackShadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  --darkThemeColor: #4f575b;
}
