.project-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.project-container-header h1 {
    font-size: 14px;
    margin: 0;
    color: white;
}
.addProject-button {
    height: 20px;
    width: 20px;
    /* background-color: #A1EBB6; */
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    transition: 0.2s;
}
.addProject-button:hover {
    border: 1px solid rgb(101, 231, 138);
    background-color: rgb(101, 231, 138);
    color: white;
}

.projectsList-section {
    overflow-y: auto;
    position: relative;
}
.projectsList-section::-webkit-scrollbar {
    display: none;
  }