.viewport {
    margin-right: 0;
    position: relative;
    /* 80 -- header -- 80 ++  */
    height: calc(100vh - 210px);
}

.viewport-left {
    /* padding-left: 80px; */
    display: flex;
    flex-direction: column;
    padding-right: 50px;
  }
  
  .viewport-right {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    /* padding-right: 150px; */
  }
