.edit-section {
  border-radius: 5px;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-shadow: var(--blackShadow);
  width: 80vw;
  max-width: 1300px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

/* HEADER */
.edit-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.edit-section-header .job-type {
  margin-right: 20px;
}
.close-panel-button {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  height: 30px;
  width: 30px;
}
.close-panel-button:hover {
  background-color: var(--lightGrey);
  transition: 0.2s;
}

.edit-section-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.edit-section-content > * {
  display: flex;
  flex-direction: column;
}

.edit-left-section {
  padding-right: 60px;
  width: 100%;
}
.edit-right-section {
  width: 300px;
}

.edit-section-content input[name="name"],
.edit-section-content h1#name {
  margin-top: 30px;
  font-size: 18px;
  color: var(--blueTheme);
  font-weight: bold;
  margin-bottom: 0;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
}
input[name="name"] {
  padding-left: 7px;
}
.edit-section-content textarea[name="description"],
.edit-section-content p#description {
  margin-top: 5px;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  outline: none;
}

/* NAME */
h1#name.is-empty {
  color: var(--lightGrey);
}
h1#name.is-empty::after {
  content: "Click to add a title";
}

/* DESCRIPTION */
.description {
  padding: 10px 0;
  min-height: 110px;
}
.description.is-empty {
  background-color: white;
  min-height: 110px;
  color: var(--lightGrey);
  font-weight: normal;
}
.description.is-empty::after {
  content: "Click to add a description";
  padding-left: 15px;
}
.edit-section-content textarea[name="description"] {
  background-color: white;
  min-height: 100px;
  padding: 10px 15px;
}

/* MARKDOWN */
.markdown-edit h1,
h2,
h3,
h4 {
  font-weight: bold;
}
.markdown-edit > h1 {
  font-size: 24px;
  color: var(--orangeTheme);
}
.markdown-edit > h2 {
  font-size: 22px;
  color: var(--blueTheme);
}
.markdown-edit > h3 {
  font-size: 20px;
}
.markdown-edit > h4 {
  font-size: 16px;
  margin-bottom: 0px;
  color: var(--greyText);
}
.markdown-edit > p {
  color: var(--greyText);
}

/* CALENDAR AND SHIT */
.edit-section-content .react-calendar {
  margin-bottom: 5px;
  border-radius: 3px;
  padding-bottom: 13px;
}
.sub-calendar-section {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 3px 10px 5px 10px;
  margin-bottom: 5px;
  height: 55px;
}

.sub-calendar-section p {
  font-size: 11px;
  color: var(--greyText);
  margin-bottom: 5px;
}
.sub-calendar-section button {
  border: none;
  height: 22px;
  width: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: auto;
  border-radius: 5px;
  background-color: transparent;
}
.sub-calendar-section button:hover {
  background-color: var(--lighterGrey);
  transition: 0.2s;
}

.delete-job-button {
  border: none;
  background: var(--redGradient);
  color: white;
  border-radius: 5px;
  height: 35px;
}
.delete-job-button:hover {
  transition: 0.2s;
  box-shadow: var(--redShadow);
}
.confirm-delete-popup {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  /* border: 1px solid red; */
  box-shadow: var(--redShadow);
}
.confirm-delete-popup p {
  margin-bottom: 0;
}
.confirm-delete-popup > div > button {
  border: none;
  height: 22px;
  width: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: auto;
  border-radius: 5px;
  background-color: transparent;
}
.confirm-delete-popup > div > button:hover {
  background-color: var(--lighterGrey);
  transition: 0.2s;
}

.save-job-button {
  border: none;
  background: var(--greenGradient);
  color: white;
  border-radius: 5px;
  height: 35px;
  margin-top: 40px;
}
.save-job-button:hover {
  transition: 0.2s;
  box-shadow: var(--greenShadow);
}

.edit-label-name {
  color: var(--blueTheme);
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 5px;
}

select[name="projectId"] {
  color: var(--orangeTheme);
  padding: 5px 10px 5px 35px;
  border-radius: 5px;
  border: none;
  background: url("../../res/bottom-arrow.png") no-repeat 15px #fff;
  background-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-image: url(...); Add custom arrow */
}
