.edit-section {
  border-radius: 15px;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-shadow: var(--blackShadow);
  min-width: 1100px;
  min-height: 75vh;
}
.edit-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.edit-section-header .job-type {
  margin-right: 20px;
}

.edit-section-content > * {
  display: flex;
  flex-direction: column;
}

.edit-section-content input[name="name"],
.edit-section-content h1#name {
  margin-top: 30px;
  font-size: 18px;
  color: var(--blueTheme);
  font-weight: bold;
  margin-bottom: 0;
  height: 30px;
}
.edit-section-content textarea[name="description"],
.edit-section-content p#description {
  margin-top: 5px;
  font-size: 16px;
  color: black;
  border-radius: 5px;
}
p#description {
  padding: 10px 0;
}
h1#name.is-empty {
  color: var(--lightGrey);
}
h1#name.is-empty::after {
  content: "Click to add a title";
}
#description.is-empty {
  background-color: white;
  min-height: 110px;
  color: var(--lightGrey);
  font-weight: normal;
}
#description.is-empty::after {
  content: "Click to add a description";
  padding-left: 15px;
}

.edit-section-content textarea[name="description"] {
  background-color: white;
  min-height: 100px;
  padding: 10px 15px;
}
.edit-label-name {
  color: var(--blueTheme);
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 5px;
}

select[name="projectId"] {
  color: var(--orangeTheme);
  padding: 5px 10px 5px 35px;
  border-radius: 5px;
  border: none;
  background: url("../../res/bottom-arrow.png") no-repeat 15px #fff;
  background-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-image: url(...); Add custom arrow */
}
