.edit-section {
  padding-bottom: 80px;
}

.edit-section-header .job-type {
  margin-right: 20px;
}

.edit-section-content textarea[name="description"],
.edit-section-content p#description {
  font-size: 16px;
  color: black;
  border-radius: 5px;
  outline: none;
  background-color: white;
  min-height: 100px;
  padding: 20px 15px 20px 15px;
  width: 100%;
}

.edit-section .pomodoro-section {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.edit-section .pomodoro-section button {
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 0;
  padding: auto;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.2s;
  color: var(--greyText);
}
.edit-section .pomodoro-section button:hover {
  background-color: var(--lighterGrey);
}

/* NAME */
h1#name.is-empty {
  color: var(--lightGrey);
}
h1#name.is-empty::after {
  content: "Click to add a title";
}

/* MARKDOWN */
.markdown-description h1,
h2,
h3,
h4 {
  font-weight: bold;
}
.markdown-description > h1 {
  font-size: 22px;
  color: var(--greyText);
  font-size: 24px;
  color: var(--blueTheme);
}
.markdown-description > h2 {
  color: var(--greyText);
  font-size: 20px;
  color: var(--blueTheme);
  padding-left: 10px;
}
.markdown-description > h3 {
  font-size: 28px;
  color: #b1b1b1;
  font-size: 18px;
  padding-left: 20px;
}
.markdown-description > h4 {
  font-size: 16px;
  margin-bottom: 0px;
  color: var(--greyText);
}
.markdown-description > p {
  color: var(--greyText);
}
.markdown-description input[type="checkbox"] {
  margin-right: 7px;
}
.markdown-description img {
  width: 100%;
}

/* Table in markdown */
.markdown-description table {
  width: 100%;
  margin-bottom: 20px;
}
.markdown-description table,
.markdown-description th,
.markdown-description td {
  border: 1px solid var(--lightGrey);
}
.markdown-description th,
.markdown-description td {
  padding: 3px 7px;
}
.markdown-description th {
  background-color: var(--lighterGrey);
}
.markdown-description td {
  background-color: white;
}

.delete-job-button {
  border: none;
  background: var(--redGradient);
  color: white;
  border-radius: 5px;
  height: 35px;
}
.delete-job-button:hover {
  transition: 0.2s;
  box-shadow: var(--redShadow);
}
.confirm-delete-popup {
  position: absolute;
  top: -110px;
  right: 0;
  width: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--blackShadow);
}
.confirm-delete-popup > div > button {
  border: none;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: auto;
  border-radius: 5px;
  background-color: var(--lightGrey);
}
.confirm-delete-popup > div > button:hover {
  background-color: var(--lighterGrey);
  transition: 0.2s;
}

select[name="projectId"] {
  color: var(--orangeTheme);
  padding: 5px 10px 5px 35px;
  border-radius: 5px;
  border: none;
  background: url("../../res/bottom-arrow.png") no-repeat 15px #fff;
  background-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-image: url(...); Add custom arrow */
}

/* FOOTER */

.job-edit-footer {
  height: 70px;
  background-color: var(--darkThemeColor);
  padding: 0 50px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.job-edit-footer .progress-section {
  width: calc(100% - 360px);
}
.job-edit-footer .edit-button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.job-edit-footer .edit-button-section button {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: 0.2s;
}
.job-edit-footer .edit-button-section button:hover {
  border: 1px solid white;
}

.job-edit-footer .edit-button-section button.isToggled {
  border: 2px solid white;
  background-color: transparent;
}

.job-edit-footer .edit-button-section p {
  color: white;
  margin: 0;
  padding-left: 80px;
  text-decoration: underline;
  cursor: pointer;
}

.job-edit-footer .edit-button-section .save-job-button {
  border: none;
  background: var(--greenGradient);
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  float: right;
}
.job-edit-footer .edit-button-section .save-job-button:hover {
  transition: 0.2s;
  box-shadow: var(--greenShadow);
}

.job-edit-footer input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: white; /* Otherwise white in Chrome */
  height: 5px;
  border-radius: 5px;
  outline: none;
}
.job-edit-footer input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--orangeGradient);
  cursor: pointer;
  box-shadow: var(--blackShadow);
}
.confirm-delete-popup p.hintText {
  margin-bottom: 0;
  color: var(--greyText);
  text-decoration: none;
  padding: 0;
}

/* POMODORO VISUALISATION might need to be moved */
.pomodoro-work-session-pill {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: var(--orangeGradient);
  margin-right: 5px;
}
.pomodoro-small-break-pill {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background: var(--darkThemeColor);
  margin-right: 5px;
}
.pomodoro-big-break-pill {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: var(--darkThemeColor);
  margin-right: 5px;
}
