.progressBar {
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.progress-number {
  margin: 0px;
  color: #c5c5c5c5;
  font-size: 14px;
}

.progressBar-background {
  height: 10px;
  width: 100%;
  background-color: var(--lighterGrey);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
}
.progressBar-progress {
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
}

.progressColor-learn {
  background-color: var(--pinkColor);
}
.progressColor-check {
  background-color: var(--brownColor);
}
.progressColor-build {
  background-color: var(--blueColor);
}
.progressColor-todo {
  background-color: var(--greyColor);
}
.progressColor-think {
  background-color: var(--purpleColor);
}
