.loginDiv {
    background-color: white;
    width : 800px;
    height : 700px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding : 20px 30px;
}

.loginDiv h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.loginDiv h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.loginDiv input {
    border-radius: 11px;
    background-color: #F4F4FF;
    border: 0px solid white;
    padding: 5px 15px;
    margin-bottom: 30px;
}
